
extends ./MapPageBase


block append stylesblock
    link(rel='stylesheet', href=('http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css'))


block append scriptsblock
    script(src='/js/lib/GeoCoder.js') 
    script(src='/js/lib/MapHosterLeaflet.js')
    script(src='/js/lib/StartupLeaflet.js')
    script(src='/js/lib/searcher.js')
    script(src='/js/lib/utils.js')
    script(src='/js/lib/Control.Loading.js')

//
    block append content
        div LeafletCloudmade template for Leaflet Map displays
